:root {
  --nav-font-type: 'Sriracha', cursive;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 1.5rem 2.5rem;
}
main {
  background-color: #f7f7f7;
  padding-bottom: 1rem;
}

h2 {
  font-family: var(--nav-font-type);
  color: #444;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

p {
  font-family: var(--nav-font-type);
  text-align: center;
  padding: 1rem 0.5remx;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.maincontent {
  margin: 0.5rem auto;
  background-color: #d9d9d9;
  border-radius: 3rem;
  width: 80%;
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.4);
}

.header {
  position: relative;
  background-color: #444;
  color: antiquewhite;
  padding: 0 5rem;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  height: 14rem;
}

.footer {
  background-color: #444;
  color: antiquewhite;
  padding: 0 5rem;
  height: 15rem;
  display: grid;
  grid-template-columns: 20rem 1fr 1fr;
}

.logo__footer {
  position: relative;
  grid-column: 1;
}

.footer__logo {
  height: 14rem;
  position: absolute;
  top: 0.7rem;
}

.footer__contact {
  grid-column: 2;
}

.footer__copy {
  grid-column: 3;
}

.selectButton {
  margin-top: 1.5rem;
  display: inline-flexbox;
  font-family: var(--nav-font-type);
  font-size: 2rem;
  justify-content: space-around;
  text-align: center;
  color: #444;
  cursor: pointer;
}

.selectButton__input {
  cursor: pointer;
}

.card-container {
  width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 5rem;
}

.resource__card {
  display: grid;
  grid-template-columns: 20% 1fr;
  border-style: solid;
  border-color: #92a8d1;
  border-radius: 4%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.4);
}
.card__img {
  margin-top: 1rem;
  margin-left: 0.5rem;
  height: 8rem;
  grid-column: 1;
}

.card__data {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource__type {
  width: 4rem;
  height: 4rem;
  fill: #20206f;
  margin-left: -3rem;
}

.resource__link {
  text-decoration: none;
  font-family: var(--nav-font-type);
  margin-left: 2rem;
  font-size: 2rem;
  color: #444;
}
