doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/styles.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Anton&family=Sriracha&display=swap')
        title Knowledge | #{title}
    
    body
        // Header
        include _header

       

        // content
        block content
            h1 This is a placeholder        
                 
         
          

            
            