.section-introduction__grid {
  width: 100rem;
  margin: 1rem auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10rem 16rem;
  background-color: rgba($color-white, 0.5);

  &-header {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }

  &-logo {
    position: relative;
  }

  &-logo1 {
    position: absolute;
    left: 2rem;
    top: 1rem;
    width: 30%;
  }

  &-logo2 {
    position: absolute;
    right: 10rem;
    top: 1rem;
    width: 30%;
  }
}

.section-fotoboek__grid {
  width: 120rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgba($color-white, 0.5);

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;

  &-header {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }

  &-normaal {
    grid-column: span 1;
  }

  &-groot {
    grid-column: span 2;
    grid-row: span 2;
  }

  &-verticaal {
    grid-row: span 2;
  }

  &-superV {
    grid-row: span 3;
  }

  &-super {
    grid-column: span 3;
    grid-row: span 3;
  }

  img {
    width: 100%;
    height: 100%;
  }

  img:hover {
    transform: scale(1.5);
  }
}

.footer__grid {
  width: 100rem;
  margin: 1rem auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10rem 10rem;

  &-header1 {
    align-self: center;
  }

  &-header2 {
    align-self: center;
  }
}
